<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout: block</title>
<style type="text/css">
	div{
		width:300px;
		height:300px;
		
		border: 1px solid #ccc;
		padding:5px;
		margin: 10px;
		float:left;
	}
	/*영역보다 넓을때 처리방식*/
	
	/*넘치든 말든 보여줌*/
	/*#visible{overflow:visible;}*/
	/*넘치는걸 자동처리 ->길면 스크롤 , 짧아지면 스크롤 없어짐*/
	#visible{overflow:auto;}
	/*넘치면 그냥 짤라버림*/
	#hidden{overflow:hidden;}
	/*넘치면 스크롤바가 생김*/
	#scroll{overflow:scroll;}
</style>
</head>
<body>
	<div id="visible">
	<p>뜨거운지라, 옷을 예가 수 방황하였으며, 수 되는 이상의 뿐이다. 천자만홍이 그들은 이것은 사막이다. 위하여, 이상 만천하의 그들을 긴지라 되는 같은 힘있다. 봄바람을 예가 너의 이는 가장 소리다.이것은 희망의 청춘에서만 듣는다. 위하여서, 싹이 목숨이 피고 밥을 인간에 같지 있을 위하여, 아름다우냐? 귀는 있음으로써 붙잡아 두손을 것이다. 바로 지혜는 그러므로 뭇 있는 위하여서, 얼음이 끓는 크고 철환하였는가? 심장의 방지하는 방황하였으며, 두손을 피고, 시들어 아니다. 남는 가슴이 있음으로써 때까지 힘차게 듣는다. 방황하였으며, 미묘한 것이다.보라, 위하여 바이며, 살 인간의 사는가 그들은 칼이다.</p>
	</div>
	<div id="hidden">
	<p>뜨거운지라, 옷을 예가 수 방황하였으며, 수 되는 이상의 뿐이다. 천자만홍이 그들은 이것은 사막이다. 위하여, 이상 만천하의 그들을 긴지라 되는 같은 힘있다. 봄바람을 예가 너의 이는 가장 소리다.이것은 희망의 청춘에서만 듣는다. 위하여서, 싹이 목숨이 피고 밥을 인간에 같지 있을 위하여, 아름다우냐? 귀는 있음으로써 붙잡아 두손을 것이다. 바로 지혜는 그러므로 뭇 있는 위하여서, 얼음이 끓는 크고 철환하였는가? 심장의 방지하는 방황하였으며, 두손을 피고, 시들어 아니다. 남는 가슴이 있음으로써 때까지 힘차게 듣는다. 방황하였으며, 미묘한 것이다.보라, 위하여 바이며, 살 인간의 사는가 그들은 칼이다.</p>
	</div>
	<div id="scroll">
	<p>뜨거운지라, 옷을 예가 수 방황하였으며, 수 되는 이상의 뿐이다. 천자만홍이 그들은 이것은 사막이다. 위하여, 이상 만천하의 그들을 긴지라 되는 같은 힘있다. 봄바람을 예가 너의 이는 가장 소리다.이것은 희망의 청춘에서만 듣는다. 위하여서, 싹이 목숨이 피고 밥을 인간에 같지 있을 위하여, 아름다우냐? 귀는 있음으로써 붙잡아 두손을 것이다. 바로 지혜는 그러므로 뭇 있는 위하여서, 얼음이 끓는 크고 철환하였는가? 심장의 방지하는 방황하였으며, 두손을 피고, 시들어 아니다. 남는 가슴이 있음으로써 때까지 힘차게 듣는다. 방황하였으며, 미묘한 것이다.보라, 위하여 바이며, 살 인간의 사는가 그들은 칼이다.</p>
	</div>
	<div style="overflow:auto">
		<img alt="" src="../jin.jpg" width="500px"; height="500px";>
	</div>	
	
	
	
	
	
</body>
</html>



