<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout_15</title>
</head>
<body>
<!--  header태그 -->
	<header> 
		<h1>SEMANTIC TAG LAYOUT</h1>
		<h3>시맨틱 태그</h3>	
	 </header>
	 	
	 <!-- 네비게이션 -->
	 <nav>
	 <ul>
	 <!-- <>를 나타내고 싶을때 &lt, &gt로 표현한다 -->
	 	<li><a href="#">&lt;header&gt; 태그</a></li> 
	 	<li><a href="#">&lt;nav&gt; 태그</a></li>
	 	<li><a href="#">&lt;section&gt; 태그</a></li>
	 	<li><a href="#">&lt;article&gt; 태그</a></li>
	 	<li><a href="#">&lt;footer&gt; 태그</a></li>
	 </ul>
	 </nav>
	 
	 <hr>
	 
	 <section>
	 	<article>
	 		<p>내용물을 적는곳! 기본 콘텐츠가 들어갑니다</p>
	 		
	 		<div class="imgBox">
	 			<img alt="" src="../jin.jpg" width="300" height="200"/><br>
	 			section태그 안에 article 태그로 표현하고 있음!
	 		</div>
	 	</article>
	 
	 </section>
	 <hr>
	 <!-- 저작권 표시를 footer로 해보자 -->
	 <footer style="font-size:0.8em; text-align:center;">
	 powered by Choipureum<br>
	<b>copyright &copy; 1994-2020 Choipureum</b>
	 	 
	 </footer>
	 
	
	
</body>
</html>
