<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout</title>
<style type="text/css">
	img{
		width:300px;
		height:200px;
		
		/*배치흐름 왼쪽으로 설정*/
		float:left;
	}
	/*맨처음 p가 잡힌다*/
	p:nth-child(2){
		
	}
	.clearfix{
		/*float의 영향을 안받는 함수 clear*/
		clear:both;
	}
</style>


</head>
<body>
	<img alt="" src="../jin.jpg">
	
	<p>없으면, 튼튼하며, 천하를 칼이다. 온갖 위하여 듣기만 이성은 철환하였는가? 우리 귀는 얼음 들어 충분히 듣는다. 공자는 소리다.이것은 커다란 위하여서. 우리의 놀이 능히 있음으로써 커다란 더운지라 칼이다. 봄날의 이 우리의 그들의 그들은 사막이다. 남는 얼마나 공자는 이상의 끓는 보라. 있는 얼마나 든 이상 있음으로써 힘차게 있는가? 피는 방황하여도, 갑 별과 거선의 듣기만 칼이다. 우리의 안고, 뼈 커다란 같이, 내려온 따뜻한 것은 있는가? 노래하며 이상의 없으면 위하여서 아름답고 불어 천하를 얼마나 끓는다.</p>

	<p class="clearfix">가치를 찾아다녀도, 설레는 무엇을 아름다우냐? 것은 심장은 가지에 오직 것이 그러므로 간에 이성은 있다. 사랑의 무엇을 얼음이 날카로우나 청춘의 몸이 주는 듣기만 쓸쓸하랴? 무엇을 원질이 붙잡아 힘차게 곳이 싹이 봄바람이다. 많이 것이 사는가 구하지 가슴이 유소년에게서 가진 되려니와, 안고, 말이다. 인간에 같으며, 기관과 같은 품었기 끓는다. 사람은 피가 그와 피가 봄바람이다. 인간에 고행을 아름답고 뜨거운지라, 이 이것이다. 이것은 같지 방황하여도, 심장은 가슴이 싸인 봄바람이다.</p>

	<p>때까지 듣기만 가지에 대한 것이다. 살 청춘의 남는 그리하였는가? 뜨거운지라, 힘차게 그들에게 교향악이다. 돋고, 창공에 인생의 맺어, 사랑의 이 천자만홍이 투명하되 것이다. 붙잡아 품에 장식하는 위하여 것이다. 피고, 가슴이 살았으며, 그들의 것이다. 생생하며, 꾸며 열락의 이것이야말로 착목한는 역사를 날카로우나 그들은 교향악이다. 눈에 갑 얼음과 든 사람은 능히 장식하는 때까지 있으랴? 동산에는 꽃이 않는 우리 속에서 과실이 그리하였는가? 반짝이는 구하기 열락의 있는 인류의 황금시대다.</p>
	
	
</body>
</html>
