<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout:</title>
<style type="text/css">
	#nav{
		/*<ul>태그의 목록 스타일 제거(disc : 점찍힌 스타일)*/
	 	list-style-type:none;
	 	
	 	/*기본 여백 제거*/
	 	margin:0;
	 	padding:0;
	}
	#nav li{
		/*수평으로 일렬로 배치하기*/
		float:left;
		
		/*외부 여백*/
		margin:10px;
		background-color:yellow;
		padding:10px;
		border-radius:30px;
	}
	#nav li:hover{
		background-color:green;
	}
	#nav li a{
		/* 글자 색상 고정: 회색*/
		color:gray;
		/* 글자 꾸밈선 제거*/
		text-decoration:none;
	}
	

</style>
</head>
<body>	
	
	<ul id="nav">
		<li><a href="#">메뉴1</a></li>
		<li><a href="#">메뉴2</a></li>
		<li><a href="#">메뉴3</a></li>
		<li><a href="#">메뉴4</a></li>
		<li><a href="#">메뉴5</a></li>
	</ul>
</body>
</html>
